html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font: 10px sans-serif; 
}

.axis path,
.axis line {
    fill: none;
    /* stroke: #000; */
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 3px;
    stroke-opacity: 0.7;
    cursor: pointer;
}

.line.selected {
    fill: none;
    stroke-width: 7px;
    stroke-opacity: 1;
}

.line.hover {
    fill: none;
    stroke-width: 7px;
    stroke-opacity: 1;
}

.line-chart-rect {
    fill: transparent;
}

.line-chart-rect.selected {
    fill: rgb(221, 221, 64);
    fill-opacity: 0.2;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 100vw;
}

.line-chart {
    width: 100%; 
    float: left; 
    padding-bottom: 25px;
}

.line-svg {
    background-color:#EEEDE7; 
    border-radius: 15px;
}

.tool-tip {
    fill: white;
    fill-opacity: 0.2;
    stroke: gray;
}

.hide {
    fill: transparent;
    stroke: none;
}